*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    font-size: 15;
}

body{
    min-height: 110vh;
    width:100vw;
    border: solid rgb(223, 235, 251) 0px;
    background-color:rgb(39, 27, 27);
    background-image: url(/assets/images/fondo2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

nav{
    display:flex;
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    position:sticky;
    top:0;
    background-color:rgb(39, 27, 27) ;
}
nav>div>a{
    text-decoration: none;
    margin:0.5rem;
    font-family: arial;
    font-size: larger;
    color:blue;
    background-color:rgb(248, 241, 227);
    padding: 10px;
    border-radius:5px;
    box-shadow:  8px 8px 16px #29272b,
    -8px -8px 16px #3b393d;
}

nav>div>a:hover{
    transform:scale(1.3);
    transition-duration: 0.5s;
}

nav>div{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo{    
    height:3rem ;
    margin-right:2rem;
}

header{
    height:15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulis2h{   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    height: 35vh;
}
.titulis2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 25rem;
    width:35rem;
    background-image:url(/assets/images/guys.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top:2vh;
    border-radius:15px;
}

.ii1{
    display: none;
}

h1{
    font-size:xx-large;
    color: rgb(239, 239, 249);
    text-decoration: underline;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

h2{
    font-size:x-large;
    color: rgb(239, 239, 249);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.ab2{
    font-size:x-large;
    color: rgb(98, 98, 207);
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color:rgb(248, 241, 227);
    padding: 7px;
    margin-bottom: 10px;
    box-shadow:  8px 8px 16px #29272b,
    -8px -8px 16px #3b393d;
    border-radius: 15px;
}
.ab2:hover{
    transform:scale(1.3);
    transition-duration: 0.5s;
}

.ii2{
    display: none;
}

.maini{ height:50vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
}

.p1i2i{  
    height:20rem;
    width:25rem;
    background-image: url(/assets/images/image-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:15px;
    margin-top: 2rem;
  
}
.pi1{
    display: flex;
    height: 20rem;
    width: 20rem;
    align-items: center;
    color:  rgb(239, 239, 249);
    font-family: arial;
    font-size: larger;
    justify-content: center;
}
/* inicio abuot US*/

.maina{
    height: 70vh;
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.ia1{
    height:20rem;
    width: 20rem;
    border-radius:15px;
}

.pa1{
    display: flex;
    height: 10rem;
    width: 20rem;
    align-items: center;
    color:  rgb(239, 239, 249);
    font-family: arial;
    font-size: larger;
}


.ia2{
    height:20rem;
    width: 20rem;
    border-radius:15px;
}

.pa2{
    display: flex;
    height: 10rem;
    width: 20rem;
    align-items: center;
    color:  rgb(239, 239, 249);
    font-family: arial;
    font-size: larger;
}

.ia3{
    height:20rem;
    width: 20rem;
    border-radius:15px;
}

.pa3{
    display: flex;
    height: 10rem;
    width: 20rem;
    align-items: center;
    color:  rgb(239, 239, 249);
    font-family: arial;
    font-size: larger;
}
/* inicio contact*/
.ic1{
    display:none
}

.titulcs2h{
    display:flex;height: 45vh;
    flex-direction:column ;
    align-items: center;
    justify-content: end;
}

.titulcs2{
    display:flex;
    background-image:url(/assets/images/together.jpg);
    height: 35rem;
    width: 35rem;
    flex-direction:column ;
    align-items: center;
    justify-content: end;
    background-size: 35rem 20rem;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2vh;
    border-radius:30px;
}

.h2cs2{
    margin-bottom: 10px;
}

.mainc{
    height: 40vh;
    width:100vw;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.pc1{
    display: flex;
    width: 15rem;
    height: 20rem; 
    flex-direction: column;
    justify-content: center;
    color:  rgb(239, 239, 249);
    font-family: arial;
    font-size: larger;
    
}

.matex{
    width:20rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: arial;
    font-size: large;
    color:  rgb(239, 239, 249);
}

.tel{
    color:  rgb(239, 239, 249);
    text-decoration: none;
}

.mail{
    text-decoration: underline;
    color:  rgb(239, 239, 249);
}
/*empieza schedule*/

.mains{
    min-height: 60vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

table, tr, th, td{
    border:solid rgb(27, 21, 21) 4px;
    border-collapse: collapse;
}

table{
    text-align: center;
    background-color:rgb(248, 241, 227);
    height: 25rem;
    width: 45rem;
    font-family: arial;
    font-size: large;
    color: rgb(105, 105, 246);
}
thead{
    font-family: arial;
    font-size: larger;
    height:20%;
    width:100% ;
}

tbody{
    height:80%;
    width:100%;
}

td{
    height:25%;
    width:25%;
}

.co1,.co2,.co3,.co4{
    width:25%;
    height:100;
}
/*benefits and tips*/

.mainb{
    display: flex;
    width: 100vw;
    height:70vh;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}

.listab{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:rgb(239, 239, 249);
    font-family: arial;
    font-size: larger;
}

.imb22{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ib1{
    height: 14rem;
    width: 19rem;
    border-radius:30px;
}

.ib2{
    height: 14rem;
    width: 19rem;
    border-radius:30px;
}

.tit1{
 font-size:larger;  
}

.bordes{
    font-size: large;
    margin-top: 10px;

}
/*comienza raffle*/
.ir1{
    width:15rem;
    height:15rem;
    border-radius:15px;
}

.ir2{
    width:15rem;
    height:15rem;
    border-radius:15px;
}
.mainr{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    min-height: 80vh;
    flex-wrap: wrap;
}
.imr{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:35rem;
}
.divform{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:20rem;
}

form{
    display: flex;
    flex-direction: column;
    border: solid 0px red;
    font-family: arial;
    font-size: large;
    color:rgb(239, 239, 249) ;
}

footer{
    display: flex;
    min-height:25vh;
    justify-content: start;
    align-items: center;
    border-top: solid white 1px;
}

.mapa{
    padding: 10px;
    margin-left: 20px;
}

.titraf{
    font-size: larger;
    font-family: arial;
    color:rgb(239, 239, 249) ;
    margin-bottom:20px;
    text-align: justify;
   
}

fieldset{
    border: 0.0cm red solid;
}

.raf1{
    height:3rem;
    display: flex;
    flex-direction: column;
}

.payr{
    height: 5rem;
    display: flex;
}

.paybotr{
    display: flex;
    flex-direction: column;
    font-size: small;
}

.servicr{
    height: 11rem;
    display: flex;
    flex-direction: column;
}

.titfor{
    font-size: larger;
    font-family: arial;
    color:rgb(239, 239, 249) ;
}
.acceptr{
    display: flex;
    flex-direction:row;
    font-size: small;;
}
.sumdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sendr{   font-size: larger;
    font-family: arial;
    color:rgb(239, 239, 249) ;
    background-color: #3b393d;
    width:10rem;
    margin-bottom: 1rem;
}
.mapa{
    margin-left: 2vw;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
    
    
    .titulis2{
        height: 11rem;
        width:20rem;
        background-size:20rem 11rem;
    }
        
    .titulis2h{  
            height: 30vh;
        }
    .p1i2i{  
            height:20rem;
            width:20rem;}

    body{
        background-repeat:repeat;
        background-size:cover;
    }
    .titulcs2h{
        display:flex;height: 45vh;
        flex-direction:column ;
        align-items: center;
        justify-content: end;
    }
    
    .titulcs2{
        height: 20rem;
        width: 20rem;
    }
    .mainc{
        min-height:20vh ;
        
    }
    .pc1{
        height: 10rem;
    }
    .matex{
        width:20rem;
        height: 5rem;}

    .mail{
     font-size: large;
    }


    table{
        font-size: medium;

    }
    thead{
        font-size: large;
    }
    
    .headsc{
        height:20vh;
    }
    .listab{
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: larger;
        margin-left:10vw ;
    }
    .headbe{
        height:20vh;
        text-align: justify;
    }
}
/* solo se tomara de escepcion pantallas pequeñas, ya que por defecto estan hechos para pantallas medianas y grandes*/

